<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cassiel Care</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="../imagenes/logo.png" alt=""width="100px" height="80px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacts.html">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

    
    <div class="card mb-3">
      <img src="../imagenes/img4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Quienes somos</h3>
        <p class="card-text">CASSIEL CARE <br>Arcángel que simboliza la ancianidad de los seres humanos. se le atribuye la labor de restituir en los seres humanos los malestares causados por el karma, proporcionando el debido auxilio para recuperar la armonía. <br>
         <br> MISION: <br> proporcionar atención y apoyo integral a los adultos mayores, garantizando su bienestar físico, emocional y social. <br>
         <br> VISION:  <br>promover una calidad de vida óptima para los adultos mayores, respetando su dignidad, autonomía y derechos. Se busca crear un entorno seguro y acogedor donde los adultos mayores puedan envejecer de manera saludable y feliz. Esto implica brindar atención personalizada y centrada en cada individuo. <br>
         <br> OBJETIVOS: <br> Promover la salud y el bienestar: Manteniendo y mejorando la salud física, mental y emocional de los adultos mayores. Esto implica proporcionar una alimentación adecuada, fomentar la actividad física, administrar medicamentos según las indicaciones médicas y brindar apoyo emocional. <br>
         <br> VALORES CORPORATIVOS: <br>
          La empatía es nuestro mejor valor porque mostramos comprensión y sensibilidad hacia las necesidades y emociones de los adultos mayores, estableciendo una conexión genuina con ellos. <br>
          Respeto:  <br>Tratamos a los adultos mayores con dignidad, respetando su autonomía, decisiones y privacidad</p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
      </div>
    </div>
    


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class="p-3 mb-2 bg-primary text-white"> <h3><pre>CASSIEL CARE        Atención al cliente: 3002253376      Tu bienestar, nuestro compromiso.</pre> </h3></div>
</body>
</html> 