<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cassiel Care</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="../imagenes/logo.png" alt=""width="100px" height="80px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <nav class="navbar">
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
          <a href="https://api.whatsapp.com/send?phone=123456789" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a>
          <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i> YouTube</a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
      </nav>


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="abouts.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contáctenos</a>
                </li>
            </ul>
        </div>
    </nav>
    <img src="../imagenes/img5.jpg" class="img-fluid" alt="...">
 
 

  <div class="card mb-3 g-2" style="max-width: 100%;" id="info">
    <div class="row g-0">
      <div class="col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Escuchamos y asistimos tu situación familiar</div>
    <div class="card-body">
      <h5 class="card-title">DEJA TU TRANQUILIDAD EN NUESTRAS MANOS</h5>
      <p class="card-text">Si quieres recibir más información, escribenos y deja tus datos para contactarte.</p>
    </div>
</div>
        
      </div>
      <div class="col-md-8">
        <div class="card-body">
         <form>
<div id="contacto">
    <div class="col-md-6 mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Introduzca su nombre">
    </div>
      <div class="col-md-6 mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="col-md-6 mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Comentarios e inquietudes</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button id="miBoton" type="submit" class="btn btn-primary">Enviar</button>

      <script>
        // Agregar un evento de clic al botón
        document.getElementById("miBoton").addEventListener("click", function() {
            alert("¡Has enviado la información!");
        });
    </script>

</div>
</form> 
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3 g-2" style="max-width: 100%;" id="info">
    <div class="row g-0">
      <div class="col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Registro de servicios </div>
      <div class="card-body">
          <h5 class="card-title">Animate a ser parte de nuestra familia.</h5>
          <p class="card-text">Permanentemente recibimos tu solicitud de servicio, igresa los servicios que requieres y el tiempo que necesites para asegurar el bienestar de tu familiar.</p>
          
        </div>
      </div>
    </div>

    <div id="pedido">
      <h4>Realizar Pedido del servicio</h4>
      <label for="producto">Servicio:</label>
      <input type="text" id="producto">

      <label for="cantidad">Horas:</label>
      <input type="number" id="cantidad">

      <button class="btn btn-primary" onclick="agregarProducto()">Agregar servicio</button>

      <h5>Resumen del Servicio:</h5>
      <ul id="listaPedido"></ul>

      <button  class="btn btn-primary" onclick="confirmarPedido()">Confirmar servicio</button>
  </div>

  <script>
      var listaPedido = [];

      function agregarProducto() {
          var producto = document.getElementById("producto").value;
          var cantidad = document.getElementById("cantidad").value;

          if (producto && cantidad) {
              listaPedido.push({ producto: producto, cantidad: cantidad });
              mostrarResumenPedido();
          } else {
              alert("Por favor, ingrese el servicio y las horas requeridas.");
          }
      }

      function mostrarResumenPedido() {
          var listaPedidoElement = document.getElementById("listaPedido");
          listaPedidoElement.innerHTML = "";

          listaPedido.forEach(function (item) {
              var listItem = document.createElement("li");
              listItem.textContent = item.producto + " - Horas: " + item.cantidad;
              listaPedidoElement.appendChild(listItem);
          });
      }

      function confirmarPedido() {
          if (listaPedido.length > 0) {
              alert("Servicio registrado. Gracias por su solicitud.");
              // Aquí puedes realizar acciones adicionales, como enviar el pedido al servidor.
              // Por ejemplo, podrías usar AJAX para enviar el pedido a un servidor.
          } else {
              alert("Agrega al menos un  al servicio antes de confirmar.");
          }
      }
  </script>

  </div>





    <div class="p-3 mb-2 bg-info text-white"> <h3><pre>CASSIEL CARE        Atención al cliente: 3002253376      Tu bienestar, nuestro compromiso.</pre> </h3></div>
  </body>
</html>