<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cassiel Care</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="../imagenes/logo.png" alt=""width="100px" height="80px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="abouts.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacts.html">Contactenos</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 class="titulo-principal">Estos son nuestros Servicios</h1>
    
<div>
        <div>
            <ul class="sf-breadscrumb breadcrumb">
            <li><a href="/es">Acceso</a><span>/</span></li>
            <li><a href="/es/news-room">Acompañamiento en salud</a><span>/</span></li>
            <li><a href="/es/news-room/fact-sheets">Envejecimiento y salud</a><span>/</span></li>
            <li><a href="/es/news-room/fact-sheets/detail">Alimentación saludable</a><span>/</span></li>
            <li class="active">Salud mental de los adultos mayores</li>
            </ul>
            </div>
            
            <script type="application/ld+json">
                {"itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https://www.who.int/es","name":"Acceso"}},{"@type":"ListItem","position":2,"item":{"@id":"https://www.who.int/es/news-room","name":"Centro de prensa"}},{"@type":"ListItem","position":3,"item":{"@id":"https://www.who.int/es/news-room/fact-sheets","name":"Notas descriptivas"}},{"@type":"ListItem","position":4,"item":{"@id":"https://www.who.int/es/news-room/fact-sheets/detail","name":"Detalle"}},{"@type":"ListItem","position":5,"item":{"@id":"","name":"Salud mental de los adultos mayores"}}],"itemListOrder":"ItemListOrderAscending","@context":"http://schema.org","@type":"BreadcrumbList"}
            </script>
            </div>
            <div class="row" data-sf-element="Row">
            <div id="PageContent_TA51A0481001_Col00" class="sf_colsIn col-md-12" data-sf-element="Column 1" data-placeholder-label="Body content"><div id="PageContent_T0643CD2A001_Col00" class="sf_colsIn container" data-sf-element="Container" data-placeholder-label="Container"><div class="row" data-sf-element="Row">
            <div id="PageContent_T0643CD2A002_Col00" class="sf_colsIn col-md-12" data-sf-element="Column 1" data-placeholder-label="Images">
            <div class="wrapper">
            <div class="background-image single-image" role="img" aria-label data-image="https://cdn.who.int/media/images/default-source/hero-images/old-man-in-the-hospital-with-a-health-worker.tmb-1920v.jpg?sfvrsn=de790099_26" style="background-image: url('https://cdn.who.int/media/images/default-source/hero-images/old-man-in-the-hospital-with-a-health-worker.tmb-1920v.jpg?sfvrsn=de790099_26');">
            </div>
            <div class="sf-image-credit">
            <div class="sf-image-credit__content">
            <div class="sf-image-credit__inner">
    
            </script>
            
       </body>
        </html>
